<nav class="navbar navbar-default" id="footer">
  <div class="container-fluid">

    <div style="padding: 15px;">
      <p class="nav navbar-nav navbar-right">
        Mladen Marjanovic 2017
      </p>
    </div>
  </div>
</nav>