<div class="header-image">
  <%= image_tag 'homepage-header.jpeg', class: "img-responsive" %>
</div>

<div class="jumbotron">
  <h1>Welcome to Commute.rs!</h1>
  <h3>Save your money and your environment by sharing a ride.</h3>
</div>