<div class="">
  <div class="header-image">
    <%= image_tag 'homepage-header.jpeg', class: "img-responsive" %>
  </div>
  
  <div class="jumbotron">
    <h1>Welcome to Commute.rs!</h1>
    <h3>Save your money and your environment by sharing a ride.</h3>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Going somewhere?</h2>
      </div>
      <div class="col-md-2 offset-md-6">
        <% if user_signed_in? %>
          <%= link_to "Share your ride!", new_user_ride_path(current_user), class: "btn btn-lg btn-default" %>
        <% end %>
        <%= link_to "Find a ride!", rides_index_path, class: "btn btn-lg btn-default" %>
      </div>
    </div>
  </div>
</div>
