@import "bootstrap-sprockets";
@import "bootstrap";

// global

.buttons {
  margin-top: 20px;
}

#button-back {
  margin-left: -50px;
}

.alert {
  margin-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}

#footer {
  margin-top: 100px;
}

.image {
  border-radius: 7%;
}

.image-round {
  border-radius: 40%;
}

.page-content {
  margin-top: 40px; 
}

// homepage

#search-form-homepage {
  padding-top: 10px;
  padding-bottom: 90px;
}

#homepage-buttons {
  padding-right: 100px;
}

.going-somewhere {
  padding: 0px;
}

#going-somewhere-text {
  margin-top: 50px;
  margin-left: 30px;
}

.homepage-content {
  margin-top: -40px;
}

// search page

.search-part {
  margin-bottom: 40px;
  margin-top: 20px;
}

#price-from, #price-to {
  width: 80px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#the_slider {
  margin: 10px 20px;
}

#search-panel {
  padding: 20px;
}

#price-from-label, #price-to-label {
  visibility:hidden;
}

#search-results {
  margin-top: 20px;
}

#listed-rides {
  margin: 10px 0;
}

.link-ride {
  color: black;
}

#price {
  margin-top: -8px;
}

#price-section {
  margin-top: 10px;
}

// map

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

// messages

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

// ride

#ride-driver-info {
  margin: 60px 0;
}

.ride-about-me {
  padding: 20px 10px;
}

.ride-about-me span {
  font-size: 20px;
}

.ride-driver-name-rating {
  height: 45%;
}

.rating {
  margin-top: 25px;
}

// driver

#ride-path {
  display: inline;
}

#driver-ride-details {
  padding: 18px;
}

.about-me {
  padding: 20px 30px;
}

.about-me span {
  font-size: 20px;
}

#driver-add-ride {
  margin-top: 30px;
}