@import "bootstrap-sprockets";
@import "bootstrap";

#button-back {
  margin-left: -50px;
}

.header-image {
  width: 1366px;
  height: 520px;
  background: no-repeat center center;
  background-image: url("https://ide.c9.io/zvezdara92/commute-app/app/assets/images/homepage-header.jpg");
}