<header class="text-center">
  <h2>New ride for <%= current_user.name %> </h2>
</header>
<br>
<div class="container">
  <%= render 'form' %>
</div>
<div class="container">
  <div id="map"></div>
</div>